/*----------------
	SVG Classes
----------------*/
.svg-country {
	stroke: Grey;
	opacity: 0.7;

	-webkit-transition: stroke 400ms ease-out, opacity 400ms ease-out;
}
.svg-country.canAttack, .svg-country.highLight {
	opacity: 1;
	stroke: darkgrey;
	stroke-width: 3;
}
.svg-country.cannotAttack {
	opacity: 0.5;
}

.svg-pastille {
	stroke: White;
	stroke-width: 2;
	cursor: pointer;
	opacity: 0.6;
}

.svg-text {
	cursor: pointer;
	fill: #3F3F3F;
	font-family: CPMono;
}

.svg-line {
	stroke-dasharray: 5px;
	stroke-width: 1px;
	stroke: grey;
	opacity: 0.8;
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }